#events-card-model{
    background: #681a63;
    background: -moz-linear-gradient(top, #681a63 0%, #3c1c65 62%, #312060 100%);
    background: -webkit-linear-gradient(
      top,
      #681a63 0%,
      #3c1c65 62%,
      #312060 100%
    );
    background: linear-gradient(to bottom, #681a63 0%, #3c1c65 62%, #312060 100%);
    outline: 1px solid white;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 15px;
}
#events-card-homepage{
    background: #681a63;
    background: -moz-linear-gradient(top, #681a63 0%, #3c1c65 62%, #312060 100%);
    background: -webkit-linear-gradient(
      top,
      #681a63 0%,
      #3c1c65 62%,
      #312060 100%
    );
    background: linear-gradient(to bottom, #681a63 0%, #3c1c65 62%, #312060 100%);
    outline: 1px solid white;
    margin: 5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 15px;
}

#events-form-group label {
    margin-top: 6px;
    margin-bottom: 1px;
    color: white;
    font-size: 15px;
    font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
#events-header{
    color: white;
    text-align: center;
    font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#events-btns{   
    font-family:  "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    border:1px solid white;
    margin-top: .75em;
    margin-right: 1em;
    border-radius: 50rem;
    justify-content: center;
    font-size: 18px;
}
#events-error{
    width:100%;
    margin-top: .25rem;
    font-size:80%;
    color: red;
}
#events-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
}
.fileupload-react-dropzone-form {
    display: flex !important;
    justify-content: flex-end !important;
    height: 45px !important;
    border: solid transparent 2px !important;
    margin: 10px;
}

.btn-primary{   
    background: #681a63;
    border: solid transparent 2px !important;
}